/**
 * IE6 Conditional comments
 
 * @media	screen, projection
 * @author	Andries Verlidnen <andriesverlinden@gmail.com>
 * @version	1.4
 */

/* clearfix-fix */
.clearfix {
	display: inline-block;
}

#siteWrapper {
	height: 100%; /* faking min-height */
}

form dl dd {
	height: 24px; /* fake min-height */
}
