/**
 * IE7 Conditional comments
 *
 * @media	screen, projection
 * @author	Andries Verlinden <andriesverlinden@gmail.com>
 * @version	1.4
 */

.clearfix {
	zoom: 1;
	/*height: 1%;*/
}

#header {
  position: absolute;
}

#menubar {
  position: absolute;
}

