/**
 * Onsite reset
 * Based on Netlog reset and Eric Meyer's reset

 * @media	screen, projection
 * @author	Andries Verlidnen <andriesverlinden@gmail.com>
 * @version	1.4
 */

body, form, ol, ul, dl, li, dt, dd, td, th ,tr, h1, h2, h3, h4, h5, h6, p, pre, blockquote, address {
	margin: 0;
	padding: 0;
}

ol, ul {
	list-style:none;
}

img {
	border:0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

input, select, textarea {
	font-size: 100%;
	vertical-align: middle;
}

table { 
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
}

th {
	text-align: left;
}

a:focus {
	/* outline:0; */
	overflow: hidden;
}