/**
 * Stylesheet for TrotsStick
 *
 * @media	screen, projection
 * @author	Andries Verlinden <andriesverlinden@gmail.com>
 * @version	1.8
 */

	/**
	 * General Page Structure
	 */
	
		html, body {
			height: 100%;
		}
		
		body {
			font-family: "Trebuchet MS", Tahoma, Verdana, sans-serif;
			font-size: 13px;
			line-height: 1.48;
			color: #555;
		}
	
		#siteWrapper {
			width: 100%;
			position: relative;
			margin: 0 auto 0;
			min-height: 100%;
		}


	/**
	 * The Header
	 */
	
		#header {
			position: relative;
			height: 100px;
			background: url(../img/header.png) no-repeat top left; /* standard */
			background: -webkit-gradient(linear, left top, right top, from(#264061), to(#E1E7F5)); /* webkit browers (Chrome, Safari) */
			background: -moz-linear-gradient(left,  #264061,  #E1E7F5); /* Firefox */
			filter: progid:DYImageTransform.Microsoft.gradient(startColorstr='#264061', endColorstr='#E1E7F5'); /* IE */
		}

	/**
	 * Headings
	 */
	
		h1 {
			display: block;
			position: absolute;
			left: 15px;
			top: 20px;
			overflow: hidden;
		}
		
		h1 a {
			display: block;
			width: 300px;
			height: 60px;
			text-indent: -9999px;
			background: url(../img/logo.png) no-repeat top left;
			text-decoration: none;
		}
	
		#header h2 {
			position: relative;
			float: right;
			right: 30px;
			top: 10px;
			height: 80px;
			width: 180px;
			text-indent: -9999px;
			background: url(../img/ovsg.png) no-repeat top right;
			overflow: hidden;
		}

		h2 {
			font-size: 18px;
			margin-bottom: 10px;
			color: #000;
		}

		h3 {
			position: relative;
			top: -20px;
			font-size: 16px;
			margin-bottom: -20px;
		}

		h4 {
			font-size: 13px;
			color: #000;
			margin-top: 10px;
			margin-bottom: 5px;
		}

		h5.normal {
			font-weight: lighter;	
		}
		
		
	/**
	 * Menubar
	 */

		#menubar {
			width: 100%;
			overflow: hidden;
			height: 28px;
			line-height: 28px;
		}
		
		#menubar ul {
			margin: 0 0 0 40px;
			line-height: 28px;
		}
		
		#menubar ul li {
			list-style-type: none;
			display: inline;
			margin-right: 40px;
			letter-spacing: -0.7px;
		}
		
		#menubar ul li a {
			color: #000;
			text-decoration: none;
		}
		
		#menubar ul li a:hover {
			color: #ff0020;
		}
		
		#menubar ul li#lnklogin {
			float: right;
		}
		
	
	/**
	 * Content
	 */
	
		#content {
			position: relative; /* fixed needed for all IEs */
			padding-left: 50px;
		 	/*padding: 30px 50px 0px 40px;
			/* note that the height and such is calculated via general.js */
		}

		#trotsstick {
			text-align: center;
			margin-left: -100px;
			margin-top: 7%;
		}
		
		#blank {
			clear: both;
		}

	/**
	 * Titles
	 */

		#mystudy, #wheysmart, #wheyproud, #wherework, #howgroup, #whoami, #myfuture {
			padding-left: 80px;
			height: 60px;
			width: 250px;
			font-size: 18px;
		}

		#whoami a, #wheysmart a, #wheyproud a, #myfuture a {
			float: left;
			text-decoration: none;
		}

		/* color: #9c71b5; */

		#whoami {
			background: url(../img/wiebenik.png) no-repeat top left;
		}

		#whoami a {
			color: #ff3333;
		}

		#whoami a.edit {
			display: block;
			width: 50px;
			height: 60px;
			text-indent: -5000px;
			background: transparent url(../img/icnEdit.gif) no-repeat top left;
			margin-left: 20px;
		}

		/* color: #00a8e8; */

		#wheysmart {
			background: url(../img/waarknap.png) no-repeat top left;
		}

		#wheysmart a {
			color: #ffd200;
		}

		/* color: #ffd200; */

		#wheyproud {
			background: url(../img/waartrots.png) no-repeat top left;
		}

		#wheyproud a {
			color: #20d600;
		}

		#myfuture {
			background: url(../img/mijntoekomst.png) no-repeat top left;
		}

		#myfuture a {
			color: #ff7000;
		}

		/* OUT OF ORDER */
		
		#mystudy {
			background: url(../img/mijnleren.png) no-repeat top left;
			color: #ff3333;
		}
		
		#wherework {
			background: url(../img/waarwerken.png) no-repeat top left;
			color: #ff0077;
		}

		#howgroup {
			background: url(../img/hoegroep.png) no-repeat top left;
			color: #20d600;
		}


	/*
	 * SuperPic
	 */

		 div.super {
			position: absolute;
			float: right;
			right: 200px;
			top: 10px;
			width: auto;
			text-align: center;
			border: 1px dashed rgba(0, 0, 0, .5);
			box-shadow: 5px 5px 12px #000;
			padding: 5px;
		 }

		 div.super form {
			margin-top: -30px;
			width: auto;
		 }

		 div.super ul li a.deleteSuper {
			position: absolute;
			top: 45px;
			right: 5px;
			height: 16px;
			width: 16px;
			margin-right: 5px;
			display: none;
			float: right;
			text-indent: -9999px;
			overflow: hidden;
			background: url(../img/icnDel.gif) no-repeat 0 0;
		 }

		 div.super ul li:hover a.deleteSuper {
			display: block;
		 }

	/*
	 * Text
	 */

		#text {
			position: relative;
			top: -40px;
			left: 80px;
			width: 200px;
			padding: 10px;
			background-color: #EDE5F1;
			margin-top: 10px;
		}

		

	/*
	 * Bears
	 */
	 
		.beer {
			float: left;
			margin-right: 50px;
			margin-bottom: 15px;
		}

		.beer img {
			text-align: center;
		}

		.beer p {		
			text-align: center;
		}

	/*
	 * formWhey and formOthers
	 */

		#formWhey {
			margin-top: 20px;
			clear: left;
			width: 600px;
			margin-bottom: 40px;
		}

		#formOthers {
			margin-top: 20px;
			width: 600px;
			margin-bottom: 20px;
			margin-left: -50px;
		}

		#formWhey p a.edit {
			display: block;
			width: 50px;
			height: 60px;
			text-indent: -5000px;
			background: transparent url(../img/icnEdit.gif) no-repeat top left;
		}

		.wheyTXT {
			width: 400px;
}

		.wheyTXT p {
			font-family: Verdana, Arial, Helvetica, sans-serif;
		}


	/*
	 * formUpload
	 */

		#formUpload {
			position: relative;
			margin-top: -20px;
			margin-bottom: 30px;
			width: auto;
		}

		#formUpload #msgUpload {
			text-align: left;
			width: auto;
		}
		

	/*
	 * files
	 */

		.files {
			margin-top: 10px;
			width: 100%;
		}
		
		.documents, .pictures, .sounds, .movies {
			float: left;
			width: 21%;
			margin-right: 28.5px;
		}
		
		.filesTitle {
			text-align: center;
			font-size: 15px;
			height: 15px;
			line-height: 30px;
			width: 100%;
		}

		.documents li, .pictures li, .sounds li, .movies li {
			margin-bottom: 5px;
}
		
		.documents li a.delete, .pictures li a.delete, .sounds li a.delete, .movies li a.delete {
			height: 16px;
			width: 16px;
			margin-right: 5px;
			display: block;
			float: right;
			text-indent: -9999px;
			overflow: hidden;
		}

		li a.delete {
			background: url(../img/icnDel.gif) no-repeat 0 0;
		}

		h3 a.edit {
			position: absolute;
			text-indent: -5000px;
			background: transparent url(../img/icnEdit.gif) no-repeat 0 0;
			margin-left: 20px;
		}

	/*
	 * Pictures you, family, hobby and talent
	 */

		p#you a img {
			position: absolute;
			top: 60px;
			right: 200px;
		}

		p#you a.delete {
			position: absolute;
			top: 65px;
			right: 200px;
			height: 16px;
			width: 16px;
			margin-right: 5px;
			display: none;
			float: right;
			text-indent: -9999px;
			overflow: hidden;
			background: url(../img/icnDel.gif) no-repeat 0 0;
		}

		p#you:hover a.delete {
		    display: block;
		}

		p#family a img {
			position: absolute;
			top: 370px;
			right: 200px;
		}

		p#family a.delete {
			position: absolute;
			top: 375px;
			right: 200px;
			height: 16px;
			width: 16px;
			margin-right: 5px;
			display: none;
			float: right;
			text-indent: -9999px;
			overflow: hidden;
			background: url(../img/icnDel.gif) no-repeat 0 0;
		}

		p#family:hover a.delete {
		    display: block;
		}

		p#family2 a img {
			position: absolute;
			top: 680px;
			right: 200px;
		}

		p#family2 a.delete {
			position: absolute;
			top: 685px;
			right: 200px;
			height: 16px;
			width: 16px;
			margin-right: 5px;
			display: none;
			float: right;
			text-indent: -9999px;
			overflow: hidden;
			background: url(../img/icnDel.gif) no-repeat 0 0;
		}

		p#family2:hover a.delete {
			display: block;
		}

		p#hobby a img {
			position: absolute;
			top: 680px;
			right: 200px;
		}

		p#hobby a.delete {
			position: absolute;
			top: 685px;
			right: 200px;
			height: 16px;
			width: 16px;
			margin-right: 5px;
			display: none;
			float: right;
			text-indent: -9999px;
			overflow: hidden;
			background: url(../img/icnDel.gif) no-repeat 0 0;
		}

		p#hobby:hover a.delete {
		    display: block;
		}
		
		p#talent a img {
			position: absolute;
			top: 990px;
			right: 200px;
		}

		p#talent a.delete {
			position: absolute;
			top: 995px;
			right: 200px;
			height: 16px;
			width: 16px;
			margin-right: 5px;
			display: none;
			float: right;
			text-indent: -9999px;
			overflow: hidden;
			background: url(../img/icnDel.gif) no-repeat 0 0;
		}

		p#talent:hover a.delete {
		    display: block;
		}

		
	/*
	 * Error
	 */

		#boxError {
			border:1px solid #CC0000;
			padding: 20px;
			background: #EFA4A4;
			color: #CC0000;
			margin-bottom: 20px;
			width: 90%;
		}

		#boxError p {
			padding-bottom: 10px;
		}

		#boxError ul {
			list-style: circle;
			padding-left: 20px;
			padding-bottom: 0;
		}

	/**
	 * About
	 */

		.about {
			position: fixed;
			bottom: 0;
			right: 20px;
		}

		.framework {
			border: 1px solid #000;
			padding: 10px;
			width: 500px;
			background-color: #EDE5F1;
		}

		h5.blankspace {
			margin-top: 10px;
		}
		

	/**
	 * General Styles
	 */

		a, a:link, a:visited {
			color: #4F89FF;
		}
		
		a:hover {
			color: #4579DF;
		}

		.message {
			font-style: italic;
		}
		
		.error {
			color: #c00;
		}


	/**
	 * Headings, and paragraphs
	 */
		
		h3 {
		  margin-top: 1em;
		  color: #333;
		}
		
		p, h3 {
		  padding-bottom: 1em;
		}
		
		
	/**
	 * Formstyles
	 */

		input, textarea, select {
			border: 2px ridge #555;
			line-height: 1;
		}
		
		form, form dl {
			width:  720px;
		}
		
		form dl dt {
			float: left;
			clear: left;
			width: 200px;
			padding: 0 10px 0 0;
			height: 24px;
			line-height: 24px;
		}
		
		form dl dt label {
			color: #000;
		}
		
		form dl dd {
			float:  left;
			width: 500px;
			min-height: 24px;
			line-height: 24px;
			padding: 0 0 10px 0;
		}
		
		form dl dd label {
			display: block;
			line-height: 24px;
		}
		
		form dl dt.full {
			width: 700px;
		}
		
		form .buttonrow {
			width: 500px;
			padding: 10px 0 0 160px;
			height: 24px;
			line-height: 24px;
		}	
	
	 
	/**
	 * CSS Clearfix
	 * @see http://www.positioniseverything.net/easyclearing.html
	 */
		.clearfix:after {
			content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
		
/*EOF*/