    <p align="center">
	<img src="core/img/trotsstick.png" width="900" height="339" border="0" usemap="#Map" id="trotsstick" />
	<map name="Map" id="Map">
	    <area shape="circle" coords="614,240,26" href="waartrots.php" />
	    <area shape="rect" coords="669,255,874,274" href="waartrots.php" />
	    <area shape="circle" coords="598,71,26" href="waarknap.php" />
	    <area shape="rect" coords="631,47,833,67" href="waarknap.php" />
	    <area shape="circle" coords="328,271,26" href="mijntoekomst.php" />
	    <area shape="circle" coords="292,59,26" href="wiebenik.php" />
	    <area shape="rect" coords="144,26,255,48" href="wiebenik.php" />
	    <area shape="rect" coords="136,280,274,301" href="mijntoekomst.php" />
	    <area shape="circle" coords="449,170,37" href="about.php" />
	</map>
    </p>
    <p class="about"><a href="about.php">De TrotsStick</a></p>